<html>
<body>
<table>
<tr>
<td width="100%" colspan=2>
<p><b>Custom Help for PS Topics</b></p>
<p>The PS Topics tab houses all of the information about the past, present and future subjects that have been or are being developed by members of the ProServices@ASA team.  Subjects are grouped into Categories depending the content of each individual topic to help you identify those Topics that may be related to each other.</p>
<p>Each Topic in this section includes the history of when and where this particular Topic has been offered along with the most recent copy of the presentation and handouts. Prior versions of the presentation or handout are archived in the Professional Services shared folder on ASA's internal servers.</p>
</td>
</tr>
<tr>
<td width="50%"></td>
<td width="50%"></td>
</tr>
</table>
</body>
</html>